.song {
    display: flex;
    align-items: center;
    column-gap: 24px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity ease 0.2s;

    &:hover {
        opacity: 1;
    }

    .title {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}